@if (Context.Request.Cookies.ContainsKey("UserName"))
{
	if (Context.Request.Cookies["Role"] == "Admin")
	{
		@* <a class="bk-btn" asp-area="Admin" asp-controller="QuanLyThongTinWeb" asp-action="DanhSachThongTinWeb">@Context.Request.Cookies["UserName"]!</a>
		<a class="bk-btn" asp-area="Admin" asp-controller="TaiKhoan" asp-action="DangXuat">Đăng xuất</a> *@
		<div class="tn_item" style="position: relative;">
			<a asp-area="Admin" asp-controller="QuanLyThongTinWeb" asp-action="DanhSachThongTinWeb" class="bk-btn" style="width:200px; text-align:center;">@Context.Request.Cookies["UserName"]</a>

		</div>
	}
	else
	{
		@* <a class="bk-btn" asp-area="" asp-controller="QuanLyThongTinCaNhan" asp-action="CapNhatThongTinCaNhan">@Context.Request.Cookies["UserName"]!</a>
		<a class="bk-btn" asp-area="Admin" asp-controller="TaiKhoan" asp-action="DangXuat">Đăng xuất</a> *@
		<div class="tn_item" style="position: relative;">
			<a asp-area="" asp-controller="QuanLyThongTinCaNhan" asp-action="CapNhatThongTinCaNhan" class="bk-btn" style="width:200px; text-align:center;">@Context.Request.Cookies["UserName"]</a>
			<div class="dropdown_part" style="width:200px">
				<ul>
					<li><a class="dropdown_item" href="@Url.Action("CapNhatThongTinCaNhan", "QuanLyThongTinCaNhan", new { Areas=""})">Thông tin cá nhân</a></li>
					<li><a class="dropdown_item" href="@Url.Action("LichSuDatPhong", "QuanLyHoaDon", new { Areas=""})">Lịch sử đặt phòng</a></li>
					<li><a class="dropdown_item" asp-area="Admin" asp-controller="TaiKhoan" asp-action="DangXuat">Đăng xuất</a></li>
				</ul>
			</div>
		</div>
	}

}
else
{

	<a asp-area="Admin" asp-controller="Taikhoan" asp-action="DangNhap" class="bk-btn">Đăng nhập</a>
}
