@model ClientQuanLyKhachSan.Models.ModelViewUser
@{
    ViewData["Title"] = "Ve Chung Toi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/front-end/css/style.css">
<section class="aboutus-page-section spad">
    <div class="container">
        <div class="about-page-text">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ap-title">
                        <h2>Chào mừng đến với Merperle Luxury!</h2>
                        @* <p>
                        Built in 1910 during the Belle Epoque period, this hotel is located in the center of
                        Paris, with easy access to the city’s tourist attractions. It offers tastefully
                        decorated rooms.
                        </p> *@
                    </div>
                </div>
                @* <div class="col-lg-5 offset-lg-1">
                <ul class="ap-services">
                <li><i class="fa-solid fa-check"></i> 20% Off On Accommodation.</li>
                <li><i class="fa-solid fa-check"></i> Complimentary Daily Breakfast</li>
                <li><i class="fa-solid fa-check"></i> 3 Pcs Laundry Per Day</li>
                <li><i class="fa-solid fa-check"></i> Free Wifi.</li>
                <li><i class="fa-solid fa-check"></i> Discount 20% On F&B</li>
                </ul>
                </div> *@
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="about-page-services">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators carousel-indicators-about">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Dịch Vụ Nhà Hàng").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Dịch Vụ Nhà Hàng</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Du Lịch & Cắm Trại").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Du Lịch & Cắm Trại</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Sự Kiện & Tổ Chức Tiệc").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Sự Kiện & Tổ Chức Tiệc</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Dịch Vụ Nhà Hàng").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Dịch Vụ Nhà Hàng</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Du Lịch & Cắm Trại").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Du Lịch & Cắm Trại</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Sự Kiện & Tổ Chức Tiệc").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Sự Kiện & Tổ Chức Tiệc</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Dịch Vụ Nhà Hàng").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Dịch Vụ Nhà Hàng</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Du Lịch & Cắm Trại").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Du Lịch & Cắm Trại</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="ap-service-item set-bg" data-setbg="@Model.ThongTinWebs.FirstOrDefault(c=>c.LoaiThongTin=="Sự Kiện & Tổ Chức Tiệc").UrlImages.Replace('\\', '/')">
                                            <div class="api-text">
                                                <h3>Sự Kiện & Tổ Chức Tiệc</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/img/about/about-p1.jpg" class="modal-img" alt="">
                        <h3 style="padding: 35px 15px 15px 15px;
                           text-align: justify; font-size:20px">
                            LUXURY HOTEL *** 32 phòng với lối thiết kế trang nhã mang phong cách hiện đại lấy chủ đạo tông màu chính là vàng trắng tạo không gian ấm cúng mà có thể gọi là nhà, các phòng ở được trang bị đầy đủ tiện nghi, có cửa số, ban công có thể tận hưởng được toàn cảnh Thành Phố sương mù yên tĩnh nhất là về đêm, là một trong những khách sạn đầu tiên tại Bảo Lộc được trang bị hồ bơi nằm trên cao nơi có thể vừa chìm mình trong hồ nước trong xanh vừa có thể ngắm được toàn cảnh thành phố từ trên cao, Tâm Châu Luxury hotel luôn tâm huyết với nghề, và luôn mong muốn cung cấp dịch vụ cho mọi khách hàng hiện chúng tôi có thiết kế cả một khu vực lối đi – WC dành riêng cho người già, người khuyết tật, hệ thống thang máy ....
                            Không chỉ hoạt động trong lĩnh vực Khách sạn mà Tâm Châu Luxury còn mở thêm hệ thống Nhà hàng – bar, sảnh tiệc, phòng hội nghị với sức chứa 500 khách…mang thương hiệu Tâm Châu với sứ mệnh hoàn thiện chuỗi giá trị lưu trú -giải trí - lữ hành mang đến cho khách hàng sự trải nghiệm về chất lượng dịch vụ và sự khác biệt .
                            Hãy đến với TÂM CHÂU LUXURY HOTEL *** để có những phút giây thư thái và những khoảng khắc không quên cho chính bạn và những người thân yêu. Đến đây khách hàng sẽ cảm nhận phong cách “sống chậm” trong không gian tĩnh lặng, thân thiện như sống tại gia đình mình.
                            Từ TÂM CHÂU LUXURY HOTEL ***  khách hàng có thể dễ dàng đến tham quan danh thắng của Bảo Lộc như: Khu du lịch Đambri, nông trường trà Tâm Châu, Tu viện Bát Nhã, Nhà Thờ La Vang, Chùa Linh Qui Pháp Ấn (Cổng Trời)…

                            Rất hân hạnh được phục vụ quí khách 24/7!
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Page Section End -->
<!-- Gallery Section Begin -->
<section class="gallery-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Bộ sưu tập</span>
                    <h2>Khám phá</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="gallery-item set-bg" data-setbg="@Model.PhongTrangChus[0].UrlImage.Replace('\\', '/')">
                    <div class="gi-text">
                        <a href="@Url.Action("ChiTietPhong", "Phong", new { id=Model.PhongTrangChus[0].IdPhong })"> <h3>@Model.PhongTrangChus[0].TenPhong</h3></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="gallery-item set-bg" data-setbg="@Model.PhongTrangChus[1].UrlImage.Replace('\\', '/')">
                            <div class="gi-text">
                                <a href="@Url.Action("ChiTietPhong", "Phong", new { id=Model.PhongTrangChus[1].IdPhong })"><h3>@Model.PhongTrangChus[1].TenPhong</h3></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="gallery-item set-bg" data-setbg="@Model.PhongTrangChus[2].UrlImage.Replace('\\', '/')">
                            <div class="gi-text">
                                <a href="@Url.Action("ChiTietPhong", "Phong", new { id=Model.PhongTrangChus[2].IdPhong })"><h3>@Model.PhongTrangChus[2].TenPhong</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="gallery-item large-item set-bg" data-setbg="@Model.PhongTrangChus[3].UrlImage.Replace('\\', '/')">
                    <div class="gi-text">
                        <a href="@Url.Action("ChiTietPhong", "Phong", new { id=Model.PhongTrangChus[3].IdPhong })"><h3>@Model.PhongTrangChus[3].TenPhong</h3></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>