@model ClientQuanLyKhachSan.Models.ModelViewUser
@{
    ViewData["Title"] = "Mau Hoa Don";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/front-end/js/main.js"></script>
<link rel="stylesheet" href="~/front-end/css/style.css">
<section class="pay-section">
    <div class="container">
        <h2>Thanh Toán</h2>
        <div class="row pay-section-main">
            <div class="col-xl-6  table">
                <div class="rom-detail">
                    <h4 style="    text-align: center;; padding-bottom: 5px; font-weight: 600; color:black;">Chi Tiết Đặt Phòng</h4>
                    <div class="row">
                        <img src="@Model.lichSuChiTiet.UrlImages" style="aspect-ratio: 1/1; width:100%;" alt="">
                        <div class="col">
                            <span>Nhận phòng</span>
                            <p class="font-black" style=" border-right: 1px solid #707079; padding-left: 3px;">@Model.lichSuChiTiet.GioCheckin.ToString("dd/MM/yyyy")</p>

                        </div>

                        <div class="col">
                            <span>Trả phòng</span>
                            <p class="font-black">@Model.lichSuChiTiet.GioCheckout.ToString("dd/MM/yyyy")</p>

                        </div>
                    </div>
                    <p>Tổng thời gian lưu trú:</p>
                    <p class="font-black" style="padding-bottom: 10px;
                    border-bottom: 1px solid #707079;">@Model.lichSuChiTiet.TongNgay ngày</p>
                    <p style="padding-top: 7px;">Tổng tiền: <strong>@Model.lichSuChiTiet.TongTien.ToString("N0")</strong> bao gồm 8% VAT</p>
                    <p style="padding-top: 0px;">Bạn đã chọn:</p>
                    <p class="font-black" style="padding-bottom: 10px;">Phòng cho @Model.lichSuChiTiet.SoNguoiLon người lớn  và  @Model.lichSuChiTiet.SoTreEm trẻ em</p>
                    <a href=" @Url.Action("DanhSachPhong", "Phong", new { Areas="" })">Đổi sự lựa chọn cho bạn</a>

                </div>
            </div>
            <div class="col-xl-6 pay-sumary">
                <form asp-controller="QuanLyHoaDon" asp-action="TaoHoaDon" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <label for="ten">Tên</label>
                        <input name="GioCheckin" value="@Model.lichSuChiTiet.GioCheckin" hidden />
                        <input name="GioCheckout" value="@Model.lichSuChiTiet.GioCheckout" hidden />
                        <input name="IdPhong" value="@Model.lichSuChiTiet.IdPhong" hidden />

                        <input type="text" id="ten" name="ten" value="@Model.lichSuChiTiet.TenNguoiDung" readonly>
                    </div>
                    <div class="row">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="@Model.lichSuChiTiet.EmailNguoiDung" readonly>
                    </div>
                    <div class="row">
                        <label for="sdt">Số điện thoại</label>
                        <input type="text" id="sdt" name="sdt" value="@Model.lichSuChiTiet.SDTNguoiDung" readonly>
                    </div>
                    <div class="row">
                        <label for="yeucau">Yêu cầu</label>
                        <textarea id="yeucau" name="yeucau"></textarea>
                    </div>
                    <div class="row">
                        <button class="submit-pay" type="submit">Đặt Phòng Ngay</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
