@model ClientQuanLyKhachSan.Areas.Admin.Models.ModelViewAdmin
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="dasboard-desciption">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="padding-top" style="height: 62px;"></div>
                <div class="header-inner">
                    <form asp-area="Admin" asp-controller="GiamGia" asp-action="DanhSachGiamGia" method="post" enctype="multipart/form-data" style="width: 100%;">
                        <div class="iner-search">
                            <div class="left" style="display: flex;">
                                <input type="text" class="form-control" placeholder="Search Here"
                                       aria-label="Username" aria-describedby="basic-addon1"
                                       style="box-shadow: none;" name="ten">
                                <button type="submit" class="btn-search">Tìm kiếm</button>
                            </div>
                            <div class="sidebar-btn" id="sidebar-active">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="admin-icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="slider">
                <p style="color: #fff; padding-left: 40px;">Quản lý giảm giá </p>
            </div>
            <div class="image">
                <div class="container-fluid">
                    <div class="row">
                        <form asp-area="Admin" asp-controller="GiamGia" asp-action="CapNhatGiamGia" method="post" enctype="multipart/form-data">
                            <div class="col-lg-10">
                                <div class="image-title" style="margin-bottom: 50px;">
                                    <h2>Thông tin giá phòng</h2>
                                    <h6>Cập nhật thông tin giảm giá: </h6>
                                    @if (TempData["error"] != null)
                                    {
                                        <div style="color: red;">@TempData["error"]</div>
                                    }
                                </div>
                                <div class="image-infor">
                                    <div class="input-group mb-3">
                                        <input type="text" name="id" value="@Model.PhongTrangChus.First().IdPhong" aria-describedby="text" hidden>
                                        <span class="input-group-text" id="basic-addon1" style="display: inline-block; width: 150px;">Tên loại phòng</span>
                                        <input name="GiaPhong" class="form-control" value="@Model.PhongTrangChus.First().TenPhong" disabled>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1" style="display: inline-block; width: 150px;">Giá phòng</span>
                                        <input name="GiaPhong" type="text" class="form-control" placeholder="Giá phòng" aria-describedby="basic-addon1" value="@Model.PhongTrangChus.First().GiaPhong.ToString("N0")">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1" style="display: inline-block; width: 150px;">Giá sau giảm</span>
                                        <input name="GiaSauGiam" type="text" class="form-control" placeholder="Giá sau giảm" aria-describedby="basic-addon1" value="@Model.PhongTrangChus.First().GiaSauGiam.ToString("N0")">
                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="button-group">
                                    <button class="setting-btn">Lưu</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
